{% extends 'base.html.twig' %}

{% block body %}
    <h1>Test du formulaire</h1>
    {{ form_start(form) }}
    {{ form_row(form.governorate) }}
    {{ form_row(form.address) }}
    <button type="submit" class="btn btn-primary">Soumettre</button>
    {{ form_end(form) }}
{% endblock %}